:root {
    --colNum = 4;
    --rowNum = 6;
}

header {
    display: grid;
    justify-content: center;
    border: 1px solid black;
}

body {
    background-color: papayawhip;
}

#bodyWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#leftParagraph {
    display: grid;
}

#rightPargraph {
    display: grid;
}

#container {
    display: grid;
    justify-content: center;
    font-size: 40px;
}

.calc {
    display: grid;
    background-color: gray;
    text-align: center;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-areas:
        "display display display display"
        "root percentage clear backspace"
        "seven eight nine divide"
        "four five six multiply"
        "one two three subtract"
        "zero period equals add";
}

.calcDisplay {
    display: grid;
    grid-area: display;
    height: 82px;
    margin: 4px;
    background-color: black;
    color: white;
    font-size: 32px;
    align-content: center;
}

.calcNumber {
    display: grid;
    border: 1px solid black;
    align-content: center;
    cursor: pointer;
}

.calcNumber:hover {
    background-color: black;
    color: white;
}

[id="0"] {
    grid-area: zero;
}

[id="1"] {
    grid-area: one;
}

[id="2"] {
    grid-area: two;
}

[id="3"] {
    grid-area: three;
}

[id="4"] {
    grid-area: four;
}

[id="5"] {
    grid-area: five;
}

[id="6"] {
    grid-area: six;
}

[id="7"] {
    grid-area: seven;
}

[id="8"] {
    grid-area: eight;
}

[id="9"] {
    grid-area: nine;
}

.calcOperand {
    display: grid;
    border: 1px solid black;
    align-content: center;
    background-color: darkgoldenrod;
    cursor: pointer;
}

.calcOperand:hover {
    background-color: gold;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#root {
    grid-area: root;
    align-content: center;
    justify-content: center;
}

#percentage {
    grid-area: percentage;
    align-content: center;
    justify-content: center;
}

.calcButton {
    display: grid;
    border: 1px solid black;
    align-content: center;
    cursor: pointer;
}


#clear {
    grid-area: clear;
    background-color: tan;
}
#clear:hover {
    background-color: beige;
}
#delete {
    grid-area: backspace;
    align-content: center;
    justify-content: center;
    background-color: maroon;
}

#delete:hover {
    background-color: red;
}

#decimal {
    grid-area: period;
}

#decimal:hover{
    background-color: black;
    color: white;
}

.resultButton {
    display: grid;
    border: 1px solid black;
    align-content: center;
    cursor: pointer;
}

.resultButton:hover {
    background-color: forestgreen;
}

#equals {
    grid-area: equals;
}

footer {
    border: 1px solid black;
}